body {
    background-color:  rgb(245, 206, 233);
    text-align: left;
    column-count: 2;
    column-gap: 80px;

}
h1 {
    background-color : #fa6899;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
  footer {
    background-color: #bb8ce2;
    font-style: italic;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    
  }
  
  nav {
    padding: 0px;
    text-align: left;

  }

      
  
